.inputField {
  width: 500px;
  height: 60px;
  &__form {
    position: relative;
    height: 100%;
    width: 100%;
    &__input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      background-color: $white;
      border-radius: 15px;
      border: 2px solid $darkGreen;
      font-size: 30px;
      padding-left: 20px;
      padding-right: 50px;
      &:focus {
        outline: none;
      }
      &:placeholder {
        color: $grey;
      }
  }
  &__search {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      
      width: 60px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border: 0px;
      background-color: transparent;
      background-image: url('../assets/search-icon.svg');
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(93%) contrast(88%);
    }
  }
}
