.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__time {
      background-image: url('../assets/time.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    &__servings {
      background-image: url('../assets/servings.svg');
      background-size: 18px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    &__health {
      background-image: url('../assets/health.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .title {
    &__info {
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      &__time {
        background-size: 15px;
      }
      &__servings {
        background-size: 13px;
      }
      &__health {
        background-size: 15px;
      }
    }
  }
}