$white : #FAFAFE;
$lightGreen : #D4E2CD;
$darkGreen : #1C5253;
$brown : #B7918C;
$black : #333333;
$link : #0000EE;


@font-face {
  font-family: 'mainText';
  src: url('../assets/gupter-regular.ttf');
}

@font-face {
  font-family: 'mainTitle';
  src: url('../assets/gupter-medium.ttf');
}