$white : #FAFAFE;
$lightGreen : #D4E2CD;
$darkGreen : #1C5253;
$brown : #B7918C;
$black : #333333;
$link : #E58F65;
$hoverGreen: rgba(212, 226, 205, 0.5);
$grey : #ececec;


@font-face {
  font-family: 'mainText';
  src: url('../assets/gupter-regular.ttf');
}

@font-face {
  font-family: 'mainTitle';
  src: url('../assets/gupter-medium.ttf');
}

@font-face {
  font-family: 'header';
  src: url('../assets/jomhuria-regular.ttf');
}

@font-face {
  font-family: 'button';
  src: url('../assets/ubuntuCondensed-regular.ttf');
}

@font-face {
  font-family: 'homePage';
  src: url('../assets/homemadeApple-regular.ttf');
}