@font-face {
  font-family: 'mainText';
  src: url("../assets/gupter-regular.ttf");
}

@font-face {
  font-family: 'mainTitle';
  src: url("../assets/gupter-medium.ttf");
}

@font-face {
  font-family: 'header';
  src: url("../assets/jomhuria-regular.ttf");
}

.footer {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__about {
  padding: 20px;
  width: 245px;
}

.footer__about__title {
  width: 180px;
}

.footer__about__body__link {
  text-decoration: none;
  color: #E58F65;
}

.footer__contact {
  padding: 20px;
  width: 245px;
}

.footer__contact__title {
  width: 94px;
}

.footer__contact__contacts {
  list-style-type: none;
  padding-left: 2px;
}

@media only screen and (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__about {
    padding: 0px;
    padding-top: 20px;
    width: 200px;
    text-align: center;
  }
  .footer__about__title {
    width: 100%;
  }
  .footer__contact {
    padding: 0px;
    width: 200px;
    text-align: center;
  }
  .footer__contact__title {
    width: 100%;
  }
  .footer__contact__contacts li {
    font-size: 13px;
  }
}

.header {
  height: 100%;
  width: 100%;
  max-width: 1600px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__title {
  height: 100%;
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logIn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logIn__button {
  height: 40px;
  width: 80px;
  border-radius: 25px;
  border: 3px solid #D4E2CD;
  background: #FAFAFE;
}

.header__logIn__button:hover {
  background: rgba(212, 226, 205, 0.5);
}

.header__nav {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__button {
  border: none;
  height: 40px;
  width: 40px;
  background: transparent;
}

.header__nav__icon {
  pointer-events: none;
  background: #333333;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 5px;
}

.header__nav__icon::before {
  content: '';
  background: #333333;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
}

.header__nav__icon::after {
  content: '';
  background: #333333;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
}

.header__nav__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ececec;
  position: fixed;
  left: 0;
  top: 0px;
  width: 200px;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 57px;
  padding-bottom: 10px;
  gap: 15px;
}

.header__nav__sidebar__close {
  background-color: transparent;
  border: 0;
  background-image: url("../assets/close-icon.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  width: 30px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20px;
}

.header__nav__sidebar__logout {
  justify-self: flex-end;
  border: 3px solid #1C5253;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  background: #FAFAFE;
  margin-top: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav__sidebar__logout:hover {
  background: rgba(212, 226, 205, 0.5);
}

.header__nav__sidebar a {
  color: #E58F65;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
}

.header__nav__sidebar a:hover {
  background: #D4E2CD;
  color: #333333;
}

@media only screen and (max-width: 600px) {
  .header__logIn__button {
    height: 35px;
    width: 65px;
  }
  .header__nav__button {
    height: 30px;
    width: 30px;
  }
  .header__nav__icon {
    width: 25px;
    height: 3px;
    top: 50%;
    left: 3px;
  }
  .header__nav__icon::before {
    width: 25px;
    height: 3px;
    bottom: 8px;
  }
  .header__nav__icon::after {
    width: 25px;
    height: 3px;
    top: 8px;
  }
  .header__nav__sidebar {
    width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav__sidebar a {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}

.inputField {
  width: 500px;
  height: 60px;
}

.inputField__form {
  position: relative;
  height: 100%;
  width: 100%;
}

.inputField__form__input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FAFAFE;
  border-radius: 15px;
  border: 2px solid #1C5253;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 50px;
}

.inputField__form__input:focus {
  outline: none;
}

.inputField__form__input:placeholder {
  color: #ececec;
}

.inputField__form__search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px;
  background-color: transparent;
  background-image: url("../assets/search-icon.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(93%) contrast(88%);
          filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(93%) contrast(88%);
}

.loading {
  height: 100%;
  width: 100%;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #d5dde2;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #d5dde2;
  }
}

.imageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.filter {
  position: relative;
  z-index: 1;
}

.filter__open {
  cursor: pointer;
  text-align: left;
  background-color: #FAFAFE;
  border: none;
  padding: 5px;
  width: 90px;
  height: 33px;
  border: 1px solid #1C5253;
  z-index: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.filter__arrow {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../assets/arrowdown-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 33px;
  width: 33px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filter__filters {
  border: 1px solid #1C5253;
  position: absolute;
  top: 32px;
  z-index: -1;
  -webkit-box-align: column;
      -ms-flex-align: column;
          align-items: column;
  height: auto;
  width: 130px;
  background-color: #FAFAFE;
}

.filter__filters button {
  cursor: pointer;
  text-align: left;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FAFAFE;
}

.filter__filters button:hover {
  background-color: #dbdbdb;
}

.results__load {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mockItem {
  height: 231px;
  width: 312px;
  background: lightgreen;
}

.mockFilters {
  background: lightcoral;
  height: 50px;
  width: 100%;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: none;
  top: 0;
  z-index: 1;
  -webkit-transition: all 5s;
  transition: all 5s;
}

.search__filters__search {
  height: 60px;
  z-index: -10;
}

.search__filters__selectors {
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__scrollSuggestion {
  text-align: center;
  padding: 10px;
}

.search__results {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.search__backtop__button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  background-color: #FAFAFE;
  background-image: url("../assets/arrowup-icon.svg");
  background-size: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  background: #FAFAFE;
  font-family: 'mainText';
}

input {
  font-family: 'mainText';
  font-size: 16px;
}

h5 {
  font-family: 'mainTitle';
  margin: 0;
  font-size: 24px;
  border-bottom: 2px solid #333333;
}

h4 {
  font-family: 'header';
  margin: 0;
  font-size: 80px;
  font-weight: normal;
}

h3 {
  font-family: 'mainTitle';
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}

p {
  font-size: 16px;
}

button {
  font-family: mainText;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 18px;
    border-bottom: 1px solid #333333;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  button {
    font-family: mainText;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  h4 {
    font-family: 'header';
    margin: 0;
    font-size: 60px;
    font-weight: normal;
  }
}

.layout {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFE;
}

.layout__header {
  height: 140px;
  width: 100vw;
  background: #FAFAFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.layout__content {
  height: 100%;
  max-width: 1600px;
  width: 100%;
  background: #FAFAFE;
}

.layout__footer {
  height: 160px;
  width: 100vw;
  background: #D4E2CD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 600px) {
  .layout__header {
    height: 100px;
  }
  .layout__footer {
    height: 230px;
  }
}
/*# sourceMappingURL=main.css.map */