// all imports
@import './colorsAndFonts';
@import './components/components';
@import './search/search';

html,body {
  margin:0;
  padding:0;
  background: $white;
  font-family: 'mainText';
}

input {
  font-family: 'mainText';
  font-size: 16px;
}


h5 {
  font-family: 'mainTitle';
  margin: 0;
  font-size: 24px;
  border-bottom: 2px solid $black;
}

h3 {
  font-family: 'mainTitle';
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}

p {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  h5 {
    font-size: 18px;
    border-bottom: 1px solid $black;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 13px;
  }
}


.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    height: 50px;
  }
  &__content {
    height: 100%;
  }
  &__footer {
    height: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    &__footer {
      height: 230px;
    }
  }
}