
.home {
	display: grid;
  grid-template-columns: auto 600px 60px auto auto;
  grid-template-rows: auto 300px 200px 160px 100px auto;
  &__titles {
    grid-column: 2/2;
    grid-row: 2;
    &__1 {
      line-height: 0;
      font-size: 70px;
      text-align: left;
      padding-left: 10px;
    }
    &__2 {
      line-height: 0;
      font-family: homePage;
      font-size: 80px;
      text-align: center;
    }
    &__3 {
      line-height: 0;
      font-size: 70px;
      text-align: right;
    }
  }
	&__info {
    grid-column: 2/2;
    grid-row: 3;
    padding-right: 100px;
    padding-left: 20px;
		&__text {
			font-size: 20px;
      padding-left: 10px;
			width: 300px;
		}
		&__search {
			text-decoration: none;
      align-self: center;
			&__button{
        cursor: pointer;
				border: 2px solid $darkGreen;
				height: 50px;
				width: 200px;
				align-self: center;
        border-radius: 25px;
        background: $white;
				&:hover {
          background: $hoverGreen;
        }
			}
		}
	}
  &__search {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: flex-start;
    &__button{
      cursor: pointer;
      border: 2px solid $darkGreen;
      height: 50px;
      width: 200px;
      border-radius: 25px;
      background: $white;
      transition: all 0.3s;
      &:hover {
        background: $hoverGreen;
      }
    }
  }
	&__img {
    grid-column: 4;
    grid-row: 2/5;
		box-shadow: -50px 40px 0 $lightGreen;
    height: 100%;
    width: 100%;
    max-width: 660px;
    object-fit: cover;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  .home {
    grid-template-columns: auto 300px 60px auto auto;
    grid-template-rows: auto 140px 120px 120px 40px auto;
    &__titles {
      &__1 {
        font-size: 32px;
      }
      &__2 {
        font-size: 32px;
      }
      &__3 {
        font-size: 32px;
      }
    }
    &__info {
      padding-right: 20px;
      &__text {
        font-size: 13px;
      }
    }
    &__search {
      &__button {
        height: 32px;
        width: 128px;
        font-size: 13px;
      }
    }
    &__img {
      box-shadow: -32px 25px 0 $lightGreen;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {
    grid-template-columns: 100px 100px 50px 100px auto;
    grid-template-rows: auto 120px 40px 260px 140px 20px 60px 20px;
    &__titles {
      grid-column: 1/6;
      grid-row: 2;
      z-index: 1;
      padding: 0px 10vw 0px 10vw;
      &__1 {
        font-size: 32px;
      }
      &__2 {
        font-size: 32px;
      }
      &__3 {
        font-size: 32px;
      }
    }
    &__info {
      z-index: 1;
      grid-column: 1/5;
      grid-row: 4;
      padding: 20px 16px 0px 10px;
      &__text {
        font-size: 13px;
        line-height: 25px;
      }
    }
    &__search {
      grid-column: 1/6;
      grid-row: 7;
      align-items: center;
      &__button {
        height: 32px;
        width: 128px;
        font-size: 13px;
      }
    }
    &__img {
      grid-column: 2/6;
      grid-row: 3/6;
      z-index: 0;
      box-shadow: -20px 14px 0 $lightGreen;
    }
    &::before {
      content: '';
      z-index: 1;
      grid-column: 1/6;
      grid-row: 2/5;
      background-image: url('../assets/blob.svg');
      background-repeat: no-repeat;
    }
  }
}
